/****************************** ZAJEDNIČKO **********************************/
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}

body header{
  width: 100%;
  max-height: 50%;
  height: 5vh;
  background-color: #26ac88;
  clear:both;

}
/***********************************************/
*, *:after, *:before {
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #426f7a;
  background: rgba(255,255,255,0.7);
  padding-top: 12%;
  padding-bottom: 6%;
  margin-bottom: 6%;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.7);
  padding: 5%;
  border: 0.2em solid #fff;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size:calc(3% + 2vw);
  padding: 3%;
  color: #000;
  border: 0.15em solid #5F9EA0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #5F9EA0;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 7%;
  right: 13%;
  transition: all 0.2s;
  font-size:calc(3% + 3.5vw);
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #5F9EA0;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

#winner{
  color: #515151;
}

.popup .content p{
  color: #8D8D8D;
  font-family: Tahoma, Arial, sans-serif;
}

/*Let's make it appear when the page loads*/
.overlay:target:before {
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  background: #fff;
  border-radius: 4%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 5%;
  margin: 10% auto;
  z-index: 10;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
    left: -100%;
}

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlay .popup{
    width: 70%;
    left: 15%;
  }

}

@media screen and (max-width: 414px){
  h1{
    font-size: calc(10% + 5vw);
  }
}
